SSH_CMD='ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no'

alias school='cd ~/Dropbox/Schoolwork/jvm'

alias ll='ls -l'
alias la='ls -la'
alias ltr='ls -ltr'
alias grep='grep --color=auto'
alias ggrep='git grep -n -i -C2'
alias gg='git grep -n -i -C2'
alias gsno='git show --name-only'
alias gls='git ls-files'
alias hgrep='history | grep -i'
alias rgrep='grep -R'
alias egrep='egrep --color=auto'
alias vi='vim -p'
alias f.='find . -name'
alias f='find'
alias bc='bc -l'
alias sz='source ~/.zshrc'
alias ssh='ssh -o ServerAliveInterval=10'
alias goodnight='sudo shutdown -h now'
alias cdgo='cd $GOPATH'
alias cdsrc='cd $GOPATH/src'
alias gc='git checkout'
alias note='mkdir -p ~/Dropbox/notes ; vi ~/Dropbox/notes/$(date +%s).note'

# Upbound
alias cdrook='cd $GOPATH/src/github.com/rook/rook'

# Kubernetes
alias kc='kubectl'
alias mkb='minikube'

# Harbinger
if [[ $(hostname) = "Harbinger" ]]; then
  alias cdhearst='cd $GOPATH/src/github.com/Hearst-DD/'
fi

# Cruella
if [[ $(hostname) = "cruella" ]]; then
  alias sz='source ~/.zshrc'
  alias cdtop="cd $TOP" 
  alias cds='cd $TOP/stargate'
  alias cdst='cd $TOP/qa/test/stargate'
  alias cdsv='cd $TOP/stargate/vdisk_controller'
  alias cdu='cd $TOP/util'
  alias cdbt='cd $TOP/build/testoutput'
  alias p26="sudo rm /usr/bin/python ; sudo cp /usr/bin/python2.6 /usr/bin/python"
  alias p27="sudo rm /usr/bin/python ; sudo cp /usr/bin/python2.7 /usr/bin/python"
  alias oberon='svm 10.61.192.107'
  alias heisenbug='svm 10.61.192.156'
  alias dany='svm 10.61.192.65'
  alias testone='PYTHONPATH=.:$TOP/.python PYTHONUSERBASE=$TOP/.python python -u $TOP/qa/tools/ptest/ptest.py -I $HOME/.ssh/ptest_local_key -m http://uranus.corp.nutanix.com/antibodies/durham_ips.txt -o "-V"  --copy_results_always -l'
  alias mknt='pushd $TOP; make CMAKE_CUSTOM_BUILD_TESTS=0 BUILD_TESTS=0 force_cmake && make CMAKE_CUSTOM_BUILD_TESTS=0 BUILD_TESTS=0 && make installer && make media NOS_VERSION=master; popd'

  CPP_LINT="$TOP/tools/coding-style/cpplint.py"
  alias ncl='git dh --name-only --relative | xargs -r $CPP_LINT 2>&1 | egrep -v "^Done|^Skipping|^Ignoring"'
fi

source ~/.tmp_alias
