#
# tallen aliases
#

# ls stuff
alias ll='ls -l'
alias la='ls -la'
alias ltr='ls -ltr'

# grep stuff
alias grep='grep --color=auto'
alias ggrep='git grep -n -i -C2'
alias gg='git grep -n -i -C2'
alias gsno='git show --name-only'
alias gls='git ls-files'
alias glsg='git ls-files | grep'
alias hgrep='history | grep -i'
alias rgrep='grep -R'
alias egrep='egrep --color=auto'
alias twat='tee /tmp/what'

# find stuff
alias f.='find . -name'
alias f='find'

alias vi='vim -p'
alias bc='bc -l'
alias sz='source ~/.zshrc'
alias ssh='ssh -o ServerAliveInterval=10'
alias goodnight='sudo shutdown -h now'
alias cdgo='cd $GOPATH'
alias gc='git checkout'

# envoy stuff
alias ecs='cd ~/src && cd envoy && git ls-files | egrep "*.cc$|*.h$" > cscope.files && cscope -q -p3'
alias kick-ci='git commit -s --allow-empty -m "Kick CI" && git push'
alias bazel='bazelisk'
alias cde='cd ~/src/envoy'

