alias ll='ls -l'
alias la='ls -la'
alias ltr='ls -ltr'
alias grep='grep --color=auto'
alias ggrep='git grep -n -i -C2'
alias gg='git grep -n -i -C2'
alias gsno='git show --name-only'
alias gls='git ls-files'
alias hgrep='history | grep -i'
alias rgrep='grep -R'
alias egrep='egrep --color=auto'
alias vi='vim'
alias f.='find . -name'
alias f='find'
alias bc='bc -l'
alias sz='source ~/.zshrc'

# Nutanix stuff.
alias dev='ssh tallen@bloodlord.rtp.nutanix.com'
alias grit='ssh tallen@grit.rtp.nutanix.com'
alias ithaca='ssh cyril.allen@ithaca.corp.nutanix.com'
alias sjdev='ssh nutanix@cyril-allen.dev.eng.nutanix.com'
alias ntnxvpn='sudo openconnect --juniper sv2sa.nutanix.com'

# AWS stuff.
AWS_FOLDER=~/Dropbox/aws
AWS_KEY=$AWS_FOLDER/webserver_dyson.pem
AWS_IP=dyson.stormbeard.net
alias dyson='ssh -i $AWS_KEY ec2-user@$AWS_IP'

# Harbinger
if [[ $(hostname) = "Harbinger" ]]; then
  alias cdhearst='cd $GOPATH/src/github.com/Hearst-DD/'
fi

# Cruella
if [[ $(hostname) = "cruella" ]]; then
  alias sz='source ~/.zshrc'
  alias cdtop="cd $TOP" 
  alias cds='cd $TOP/stargate'
  alias cdst='cd $TOP/qa/test/stargate'
  alias cdsv='cd $TOP/stargate/vdisk_controller'
  alias cdu='cd $TOP/util'
  alias cdbt='cd $TOP/build/testoutput'
  alias p26="sudo rm /usr/bin/python ; sudo cp /usr/bin/python2.6 /usr/bin/python"
  alias p27="sudo rm /usr/bin/python ; sudo cp /usr/bin/python2.7 /usr/bin/python"
  alias oberon='sshpass -p nutanix/4u ssh nutanix@10.61.192.107'
  alias heisenbug='sshpass -p nutanix/4u ssh nutanix@10.61.192.156'
  alias dany='sshpass -p nutanix/4u ssh nutanix@10.61.192.65'
  alias testone='PYTHONPATH=.:$TOP/.python PYTHONUSERBASE=$TOP/.python python -u $TOP/qa/tools/ptest/ptest.py -I $HOME/.ssh/ptest_local_key -m http://uranus.corp.nutanix.com/antibodies/durham_ips.txt -o "-V"  --copy_results_always -l'

  CPP_LINT="$TOP/tools/coding-style/cpplint.py"
  alias ncl='git dh --name-only --relative | xargs -r $CPP_LINT 2>&1 | egrep -v "^Done|^Skipping|^Ignoring"'
  alias ncl1='git diff --name-only --relative HEAD~1 | xargs -r $CPP_LINT 2>&1 | egrep -v "^Done|^Skipping|^Ignoring"'
fi

source ~/.tmp_alias
