[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[color "grep"]
  linenumber = yellow bold
  match = red
  filename = magenta
[push]
	default = tracking
[user]
	name = Tony Allen
	email = cyril0allen@gmail.com
[diff]
	renamelimit = 0
[core]
	editor = vim
[alias]
  l = log --graph --oneline --decorate
  ll = log --graph --oneline --decorate --branches --tags
  lll = log --graph --oneline --decorate --all
  dh = diff HEAD
  sr = stash --keep-index
[log]
	format = fuller
	decorate = true
[format]
	pretty = fuller
